data
data_preparation/__pycache__
data_preparation/asr_batch3
data_preparation/BLIP_768
data_preparation/flava_feature

faiss/data/faiss_database/*
faiss/logs

meilisearch/data.ms
meilisearch/meili_data

LAVIS
media_service

server/logs/*
server/__pycache__
client

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client-vite/node_modules
client-vite/dist
client-vite/dist-ssr
client-vite/dist3090
client-vite/*.local

# Editor directories and files
client-vite/.vscode/*
client-vite/!.vscode/extensions.json
client-vite/.idea
client-vite/.DS_Store
client-vite/*.suo
client-vite/*.ntvs*
client-vite/*.njsproj
client-vite/*.sln
client-vite/*.sw?
